<div class="user-details">
  <h1 align="center">Experiencia Laboral </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Soporte Técnico Telmex Infinitum (2012-2013)</h3>
    <ul>
      <li> Caracteristicas del Empleo</li>
    </ul>
    <p align="justify">Trabaje como asesor técnico vía telefónica a clientes de Telmex Infinitum, donde tenía
      que valorar situaciones y solucionar problemas, si el caso lo requería se levantaba el
      reporte correspondiente.</p>
    <a class="project-link" href="https://www.telmex.com">Ir a la Pagina</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 align="center">TecnoNet (2016-2017) </h3>
    <ul>
      <li> Caracteristicas del Empleo</li>
    </ul>
    <p align="justify">Colabore en el desarrollo de una aplicación en .Net para un punto de venta especializado
      para la empresa TecnoNet como parte de mis prácticas profesionales, también colabore en
      el desarrollo de un sitio web para la misma empresa..</p>
    <a class="project-link" href="#">Ir a la pagina</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/abinveb.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> AB InBev - Grupo Modelo(2019) </h3>
    <ul>
      <li> Caracteristicas del Empleo</li>
    </ul>
    <p align="justify">Trabaje como analista de Master Data en el área comercial donde realicé varias actividades entre
      ellas, administrando bases de datos a través de SQL Server y SAP, otras actividades bajo mi
      responsabilidad fueron registrar clientes, modificar clientes, ampliar clientes y realizar análisis a través
      de datos recolectados.</p>
    <a class="project-link" href="https://www.ab-inbev.com/">Ir a la Pagina</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/capgemini.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center">Capgemini (2021 - Actualidad) </h3>
    <ul>
      <li> Caracteristicas del Empleo</li>
    </ul>
    <p align="left">Actualmente colaboro en Capgemini Mexico como consultor de Datalake para el area de soporte a Plataformas Digitales 
      donde dia con dia nos enfrentamos con grandes retos con el cliente KOF.</p>
    <a class="project-link" href="https://www.capgemini.com/">Ir a la Pagina</a>
  </div>
</div>

